@import 'tailwindcss';
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

@font-face {
  font-family: 'Darlington';
  src: url('../public/fonts/DarlingtonDemo-z8xjG.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-myfont {
  font-family: 'Darlington', sans-serif;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('/fonts/SnellRoundhand.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-myfont2 {
  font-family: 'Snell Roundhand', sans-serif;
}